.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.headingText {
    font-size: 20px;
    font-weight: bold;
    background-color: #000;
    color: #fff;
    padding: 20px;
}

.formBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textInputField {
    width: 300px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 2px;
    font-size: 20px;
    padding-left: 10px;
    margin-top: 50px;
}

.textInputField:focus {
    outline: none;
}

.submitButton {
    cursor: pointer;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    margin-top: 50px;
}

.submitButton:hover {
    background-color: green;
    color: #fff;
}

.filterContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
}

.filterButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    margin: 0 10px;
    background-color: #000;
}

.buttonText {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.listContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100px;
    height: 100vh;
    overflow: scroll;
}

.cellContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #000;
    width: 600px;
    padding: 10px 30px;
    margin: 0px auto 20px auto;
}

.dataKey {
    font-size: 15px;
    font-weight: bold;
    margin: 5px 0;
    text-align: left;
}


@media screen and (max-width: 820px) {
    .formBox {
        width: 400px;
        height: 400px;
    }

    .headingText {
        font-size: 18px;
        font-weight: bold;
    }
    
    .textInputField {
        width: 250px;
        height: 50px;
        font-size: 18px;
        padding-left: 10px;
        margin-top: 50px;
    }
    
    .submitButton {
        width: 200px;
        height: 40px;
    }

    .submitButton:hover {
        background-color: green;
        color: #fff;
    }

    .cellContainer {
        width: 500px;
        padding: 10px 30px;
        margin: 0px auto 20px auto;
    }
    
    .dataKey {
        font-size: 12px;
        font-weight: bold;
        margin: 5px 0;
        text-align: left;
    }
    
    .filterButtons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        margin: 0 10px;
        background-color: #000;
    }
    
    .buttonText {
        font-size: 15px;
        font-weight: bold;
        color: #fff;
    }

}

@media screen and (max-width: 480px) {
    .formBox {
        width: 300px;
        height: 300px;
    }

    .headingText {
        font-size: 15px;
        font-weight: bold;
    }
    
    .textInputField {
        width: 200px;
        height: 50px;
        font-size: 15px;
        padding-left: 10px;
        margin-top: 50px;
    }
    
    .textInputField:focus {
        outline: none;
    }
    
    .submitButton {
        width: 100px;
        height: 40px;
    }

    .submitButton:hover {
        background-color: green;
        color: #fff;
    }

    .cellContainer {
        width: 300px;
        padding: 10px 30px;
        margin: 0px auto 20px auto;
    }
    
    .dataKey {
        font-size: 12px;
        font-weight: bold;
        margin: 5px 0;
        text-align: left;
        width: 200px;
    }

    .filterContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        margin-top: 20px;
    }
    
    .filterButtons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        margin: 0 10px;
        background-color: #000;
    }
    
    .buttonText {
        font-size: 15px;
        font-weight: bold;
        color: #fff;
    }
}