.heroContainer {
    background-color: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    height: 800px;
    position: relative;
    z-index: 1;
}

.heroContainer:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%),
        linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
    z-index: 2;
}

.heroBg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.videoBg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background-color: #232a34;
}

.heroContent {
    z-index: 3;
    max-width: 1200px;
    position: absolute;
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroH1 {
    color: #fff;
    font-size: 40px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .heroH1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 480px) {
    .heroH1 {
        font-size: 32px;
    }
}

.heroP {
    margin-top: 24px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    max-width: 600px;
}

@media screen and (max-width: 768px) {
    .heroP {
        font-size: 24px;
    }
}

@media screen and (max-width: 480px) {
    .heroP {
        font-size: 18px;
    }
}

.heroBtnWrapper {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signupButton  {
    border-radius: 50px;
    white-space: nowrap;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all  0.2s ease-in-out;
    background-color: #01bf71;
    padding: 14px 20px;
    color: #010606;
    font-size: 20px;
    text-decoration: none;
}

.signupButton:hover {
    transition: all  0.2s ease-in-out;
    background-color: #fff;
}

.arrowForward {
    margin-left: 20px;
    margin-bottom: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowRight {
    margin-left: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
